<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gy.easiget">

    <!-- Needed permissions in order to scan for beacons. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Needed permission of Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Needed permission of AutoBoot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!-- Needed permission of Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- &lt;!&ndash; Needed permission of SD-Card &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->


    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavgateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetpageActivity"
            android:label="@string/title_activity_getpage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WebViewActivity"></activity>
        <service
            android:name="com.easimote.sdk.service.BeaconService"
            android:exported="false" />
        <service
            android:name="com.example.gy.easiget.BackgroundService"
            android:exported="false" />

    </application>

</manifest>